<html>
<head>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="https://use.typekit.net/gct2mqj.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- nav will go here when full site is built -->
  <main class="container">
    {{ content | safe }}
  </main>
</body>
</html>
