// Breakpoints
$bp-narrow: "(min-width: 500px)";
$bp-narrow-max: "(max-width: 720px)";
$bp-mid: "(min-width: 721px)";
$bp-wide: "(min-width: 1200px)";

// Colors

$primary-text-color: #FBFBFB;
$secondary-text-color: #555555;
$primary-page-color: #1F1F1F;
$accent-color: #83CD00;
$accent-color-alternate: #83CD00;

// Fonts
$headingFont: 'p22-mackinac-pro', serif;
$bodyFont: 'poppins', sans-serif;