@import '_mixins';
@import '_variables';

html, 
body {
  margin: 0;
  padding: 0;
}

/* Visually Hidden Content | Screen Reader Only */
.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear,left top,left bottom,from(#83cd00),to(#CCDD22));
  background: linear-gradient(to bottom,#83cd00,#CCDD22);
  border-radius: 30px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17);
}

body {
  width: 100%;
  overflow-x: hidden;
  color: $primary-text-color;
  font-family: $bodyFont;
  font-weight: normal;
  line-height: 1.8;
  font-size: 16px;
  background-color: $primary-page-color;
  // padding: 2rem;
  // border-top: 3px solid $secondary-text-color;

  @include bp(mid) {
    // border-top-color: $accent-color;
    font-size: 16px;
  }
  @include bp(wide) {
    // border-top-color: $accent-color-alternate;
    font-size: 18px;
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;

  @include bp(mid) {
    // max-width: 700px;
  }
  @include bp(wide) {
    // max-width: 1000px;
  }
}

ul {
  margin: 1rem auto;
}

a {
  color: $accent-color;

  &:visited {
    color: $accent-color;
  }

  &:hover {
    color: $primary-text-color;
  }
}

.button {
  color: $primary-page-color;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .01em;
  background-color: $accent-color;
  padding: .75rem 1.25rem;
  border-radius: .25rem;
  border: solid 2px transparent;

  svg {
    fill: $primary-page-color;
    position: relative;
      top: .25rem;
    margin-right: .5rem;
  }
  
  &:visited {
    color: $primary-page-color;
  }

  &:hover {
    background-color: $primary-page-color;
    color: $accent-color;
    border-color: $accent-color;

    svg {
      fill: $accent-color;
    }
  }

}

footer {
  text-align: center;
  margin: 8rem 0 0;
  
  .footer-border {
    border-top: solid 2px hsl(0, 0%, 20%);
    padding-top: 1.5rem;
  }

  small {
    width: 100%;
    // padding: 0 6rem;
    margin: 0 auto;
    font-size: 12px;
  }
}

.mobile-footer {
  @include bp(narrow-max) {
    // position: absolute;
      // bottom: 0;
    margin: 0 auto;
    padding: 2rem;
    // width: 90%;
    // background-color: $primary-page-color;
  }

  @include bp(mid) {
    display: none;
  }
}

.desktop-footer {
  @include bp(narrow-max) {
    display: none;
  }
}

// Splash Page
.splash-layout-grid {
  padding: 0;
  width: 100%;
  height: 100%;

  @include bp(wide) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

.splash-layout-grid .banner-section {
  height: auto;

  // @include bp(wide) {
  //   grid-column: 2 / 3;
  // }
   
  .banner-img {
    width: 100%;
    min-height: 20%;
    object-fit: cover;

    @include bp(mid) {
      height: 40%;
    }
    
    @include bp(wide) {
      height: 100%;
    }
}
} 

.splash-layout-grid .content-section {
  padding: 5% 10%;
  height: auto;

  // @include bp(wide) {
  //   grid-column: 1 / 2;
  // }

  .logo-tagline-section {
    text-align: center;
    margin: 0 auto;

    @include bp(narrow-max) {
      img {
        width: 90%;
      }
    }

    @include bp(wide) {
      text-align: left;
    }
    
  }

  .tagline {
    border-top: solid 3px hsl(0, 0%, 30%);
    padding-top: 2rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 0 1rem;
    margin-left: 0;
    padding-left: 0;
    font-family: $headingFont;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: regular;
    color: $accent-color;
    font-size: 1.25em;

    margin: 3rem 0 2rem;

    @include bp(wide) {
      text-align: left;
      justify-content: start;
      margin: 3rem 0 0;
      padding: 4rem 0 0;
    }

    li {
      &::after {
        content: '|';
        padding-left: 1rem;
      }

      &:last-child::after {
        display: none;
      }

      @include bp(narrow-max) {
        &:nth-child(2):after {
          display: none;
        }
      }
    }
  }

  .bio {
    line-height: 1.9;
    margin-bottom: 2rem;
  }
}
