---
title: Home
layout: layouts/base.njk
---

<div class="splash-layout-grid">
  <div class="section-col banner-section">
    <img src="assets/anukmx-web-home-banner-1.jpg" alt="" class="banner-img">
  </div>
  <div class="section-col content-section">
    <div class="logo-tagline-section">
      <h1><img src="assets/analuisaferral-logo.svg" alt=""><span class="visually-hidden">Ana Luisa Ferral</span></h1>
      <ul class="tagline">
        <li>Acrylic</li>
        <li>Digital</li>
        <li>Mixed Media</li>
      </ul>
    </div>
    <p class="bio">
      Ana Luisa was born in Mexico from an American mother and a Mexican father. Her acrylics and mixed media paintings are colorful and textured. Her present work is influenced by her travels, especially by the colors of Mexico. At a first glance they may look childlike because they are inspired by childhood memories, but they are more profound that what first meets the eye. They talk about family unity, about choosing happy memories instead of the difficult times that we all go through at some point in life, she wants to make her viewers feel the warmth of happy memories when they see her work.
    </p>
    <a href="https://www.instagram.com/anukmx/" class="button button-icon--insta">Follow on Instagram</a>
    <footer class="">
      <div class="footer-border">
      <small>&copy; 2021 – Ana Luisa Ferral | Designed & coded with ♥ by <a href="https://ximenavf.com">Ximena Vf.</a> Built with <a href="https://www.11ty.dev/">Eleventy</a>. Hosted on <a href="https://www.netlify.com/">Netlify</a>.</small>
  </div>
    </footer>
    {# <footer class="desktop-footer">
      <div class="footer-border">
      <small>&copy; 2021 – Ana Luisa Ferral | Designed & coded with ♥ by <a href="https://ximenavf.com">Ximena Vf.</a> Built with <a href="https://www.11ty.dev/">Eleventy</a>. Hosted on <a href="https://www.netlify.com/">Netlify</a>.</small>
  </div>
    </footer> #}
  </div>
</div>

{# <footer class="mobile-footer">
  <div class="footer-border">
    <small>&copy; 2021 – Ana Luisa Ferral | Designed & coded with ♥ by <a href="https://ximenavf.com">Ximena Vf.</a> Built with <a href="https://www.11ty.dev/">Eleventy</a>. Hosted on <a href="https://www.netlify.com/">Netlify</a>.</small>
  </div>
</footer> #}